%li.menu__item.menu__item--news.menu__section
  = link_to 'News', '#', class: 'menu__label'
  %ul.menu__items
    %li.menu__item.menu__item--work= link_to 'Work', '#', class: "menu__label"
    %li.menu__item.menu__item--life= link_to 'Life', '#', class: "menu__label"
