%nav.breadcrumbs
  %ol.breadcrumbs__list
    %li.breadcrumbs__fragment(itemscope itemtype='http://data-vocabulary.org/Breadcrumb')
      %a.breadcrumbs__link(itemprop='url'){href: '#'}
        %span(itemprop='title') Daimon
    %li.breadcrumbs__fragment(itemscope itemtype='http://data-vocabulary.org/Breadcrumb')
      %a.breadcrumbs__link(itemprop='url'){href: '#'}
        %span(itemprop='title') Category
    %li.breadcrumbs__fragment(itemscope itemtype='http://data-vocabulary.org/Breadcrumb')
      %span(itemprop='title') Title
