%header.content-header
  .content-header__main
    %a.content-header__button.content-header__button--menu(data-sidebar='left') menu

    %p.content-header__title
      = link_to '#', class: 'content-header__logo' do
        = image_tag '', alt: 'daimon', class: 'content-header__logo-image'

    = render 'daimon_news/layout/application/content_header_buttons'

  .content-header__sub
    %p.content-header__tagline tagline
