%footer.content-footer
  %ul.content-footer__links
    %li.content-footer__link= link_to 'about', '#', class: 'content-footer__link-label'
    %li.content-footer__link= link_to 'privacy', '#', class: 'content-footer__link-label'

  %p.content-footer__brand site name
  %p.content-footer__tagline tagline
  %p.content-footer__copyright copyright
