@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
	margin: 0px;
	padding: 0px;
  box-sizing: border-box;
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


body {
  width: 100%;
  min-height: 100%;
  height: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
}

a {
  text-decoration: none;
}
a:link, a:visited, a:active {
  color: rgba($main-color, 0.7);
}
a:hover {
  color: rgba($main-color, 0.5);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input[type=radio] {
  margin-right: 0.3rem;
}

#{$all-text-inputs} {
  line-height: 1.6rem;
}

select {
  height: 2.1rem;
}

#{$all-text-inputs}, select {
  border-radius: $input-border-radius;
  padding: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

img, object, embed, video {
	max-width: 100%;
}

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: none;

  &:focus {
    outline-offset: -2px;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration  {
    -webkit-appearance: none;
  }
}
