.breadcrumbs {
  @include span-columns(12);
  @include omega();
  font-size: $default-font-size - 4;
  margin-top: 20px;

  &__list {
    @include flex-container(horizontal);

    margin: 0;
    padding: 0;
  }

  &__fragment {
    list-style-type: none;

    &:last-child {
      @include flex(1);

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:not(:last-child) {
      &::after {
        content: "› ";
        margin: 0 1em;
      }
    }
  }
}

h3.related-categories {
  border-bottom: 1px solid rgba($main-color, 0.2);
}

ol.related-categories {
  .breadcrumbs {
    margin-top: 5px;
  }
  li {
    list-style-type: none;
  }
}
