.button {
  @include user-select(none);

  @include appearance(none);

  @include prepend-fa-icon-container($color: $default-icon-color);

  display: inline-block;
  border: 0;
  padding: 10px 40px;
  vertical-align: middle;
  text-align: center;
  background-color: $default-button-bg-color;
  border-radius: $button-border-radius;
  font-size: $default-font-size + 2;

  &--primary {
    @include prepend-fa-icon-container($color: $primary-icon-color);

    background-color: $base-color;
    color: white;

    &:link, &:visited, &:hover, &:visited {
      color: white;
    }
  }
}
