.category-summary {
  @include flex-container(horizontal);
  @include flex-wrap(wrap);
  @include justify-content(flex-start);

  margin-bottom: 20px;

  &__title {
    font-weight: bold;
  }

  &__item {
    border: 1px solid rgba($main-color, 0.2);
    border-radius: $global-radius;

    padding-left: 1rem;
    padding-right: 1rem;

    @include media($smaller-mini-tablet) {
      @include flex-basis(100%);
    }
    @include media($larger-mini-tablet) {
      margin-top: 1rem;
      margin-left: 0.5%;
      margin-right: 0.5%;
      @include flex-basis(49%);
    }

    background: white;
  }

  .sub-category-summary .category-summary__item,
  .posts-title__item {
    list-style-type: circle;
    border-style: none;
    margin-left: 2rem;
    margin-top: auto;
    max-width: 90%;
  }
}
