.category-summary {
  @include flex-container(horizontal);
  @include flex-wrap(wrap);
  @include justify-content(space-between);

  margin-bottom: 20px;

  li {
    border: 1px solid rgba($main-color, 0.2);
    border-radius: $global-radius;

    padding-left: 1rem;
    padding-right: 1rem;

    @include media($smaller-mini-tablet) {
      @include flex-basis(100%);
    }
    @include media($larger-mini-tablet) {
      margin-top: 1rem;
      @include flex-basis(49%);
    }

    background: white;
  }

  ul.sub-category-summary, ul.posts-title {
    li {
      list-style-type: circle;
      border-style: none;
      margin-left: 2rem;
      margin-top: auto;
      max-width: 90%;
    }
  }
}
