@mixin visibility($visibility) {
  @include prefixer(visibility, $visibility, webkit spec);
}

@mixin flex-container($direction) {
  @include display(flex);

  @if index(vertical horizontal, $direction) == null {
    @error "$direction must be horizontal or vertical: #{$direction}";
  }

  @if $direction == vertical {
    @include flex-direction(column);
  }
  @else {
    @include flex-direction(row);
  }
}

@mixin fa-icon-fw {
  @include fa-icon;

  @extend .fa-fw;
}

@mixin prepend-fa-icon-container($color: $default-icon-color) {
  &::before {
    @include fa-icon-fw;

    color: $color;
    margin-right: 0.5em;
  }
}

@mixin prepend-fa-icon-content($fa-var) {
  &::before {
    content: $fa-var;
  }
}

@mixin prepend-fa-icon($fa-var, $color: $default-icon-color) {
  @include prepend-fa-icon-container($color: $color);

  @include prepend-fa-icon-content($fa-var);
}

@mixin append-fa-icon-container($color: $default-icon-color) {
  &::after {
    @include fa-icon-fw;

    color: $color;
    margin-left: 0.5em;
  }
}

@mixin append-fa-icon-content($fa-var) {
  &::after {
    content: $fa-var;
  }
}

@mixin append-fa-icon($fa-var, $color: $default-icon-color) {
  @include append-fa-icon-container($color: $color);

  @include append-fa-icon-content($fa-var);
}

@mixin modal($duration, $z-index) {
  @include transition-duration($duration);

  height: 100%;
  z-index: $z-index;
  overflow-y: hidden;

  + .backdrop {
    @include position(fixed, 0 0 0 0);

    @include transition-property(opacity);

    @include transition-duration($duration);

    display: block;
    z-index: 30;
    visibility: hidden;
    opacity: 0;
    background-color: $backdrop-bg-color;
    cursor: pointer;
  }

  &[data-modal-state='visible'] {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    @content;

    + .backdrop {
      visibility: visible;
      opacity: 0.5;
    }
  }
}

@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}

@mixin computed-height($font-size: $default-font-size, $lines: 1, $line-height: 1.5) {
  box-sizing: content-box;
  font-size: $font-size;
  line-height: $line-height;
  height: $font-size * $line-height * $lines;
  text-overflow: ellipsis;
}

@mixin header-icon($image-url, $size) {
  &::before {
    display: block;
    @include size($size $size);
    padding: 0;
    content: "　";
    font-size: $size;
    cursor: pointer;
    background: {
      image:  image-url($image-url);
      size: contain;
      repeat: no-repeat;
      position: center center;
    }
    vertical-align: middle;
  }
}

@mixin markdown-body {
  img {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 20px auto 0;
    @include media($smaller-tablet) { max-width: 100%; }
  }

  a {
    border-bottom: 1px dotted rgba($main-color, 0.7);
  }

  h1, h2, h3 {
    color: $base-color;
    font-weight: bold;
    margin: 30px 0;
  }

  h1 {
    font-size: $default-font-size + 6;
    border-left: 7px solid rgba($base-color, 0.5);
    padding: 15px;
  }

  h2 {
    font-size: $default-font-size + 4;
    border-bottom: 3px solid rgba($base-color, 0.15);
  }

  h3 {
    font-size: $default-font-size + 2;
  }

  p + p {
    padding-top: 1rem;
  }

  table {
    width: 80%;
    margin: 20px auto;
    font-size: $default-font-size - 2;

    @include media($smaller-tablet) {
      width: 100%;
    }
    tr {
      border: 1px solid rgba($main-color, 0.5) collapse;
    }

    tr:nth-child(odd) {
      background-color: rgba($main-color, 0.05);
    }

    tr:nth-child(even) {
      background-color: rgba($main-color, 0.1);
    }

    td, th {
      border: 1px solid rgba($main-color, 0.5) ;
      padding: 10px;
    }

    th {
      background-color: rgba($main-color, 0.2);
      font-weight: bold;
    }
  }

  blockquote {
    padding: rem(20);
  }

  ul {
    list-style-type: disc;
  }

  ol, ul {
    margin: 1em 0;
    padding-left: 2em;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba($main-color, 0.5);
    margin: 1em 0;
    padding: 0;
  }
}

@mixin sub-header {
  border-bottom: 3px solid rgba($base-color, 0.15);
  color: $base-color;
  font-size: $default-font-size + 4;
  font-weight: bold;
  margin: 30px 0;
}

@mixin prepend-list-item-mark {
  &:before {
    content: ' ';
    border: transparent solid 0.3em;
    border-left-color: $base-color;
    position: absolute;
    height: 0;
    width: 0;
    left: 0.5em;
    margin: 0px;
    margin-top: 0.4em;
    padding: 0px;
  }
}
