.page-navi {
  background: rgba($base-color, 0.1);
  margin-bottom: 20px;
  $base-size: $default-font-size - 2;
  font-size: $base-size;
  line-height: $base-size + 10;

  &__link {
    @include outer-container;
    display: block;
    padding: 10px;
  }

  &__label {
    background: rgba($base-color, 0.6);
    color: white;
    position: relative;
    text-align: center;
    @include span-columns(2 of 9);

    @include media($smaller-mini-tablet) {
      @include span-columns(5);
    }

    &.prev:after,
    &.next:after {
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: $base-size / 2 + 5;
      margin-top: - ($base-size / 2 + 5);
    }
  }

  &__label.next + &__title {
    padding-left: $base-size * 2;
  }

  &__label.next:after {
    left: 100%;
    border-left-color: rgba($base-color, 0.6);
  }

  &__label.prev {
    margin-left: $base-size;
  }

  &__label.prev:after {
    right: 100%;
    border-right-color: rgba($base-color, 0.6);
  }

  &__title {
    @include span-columns(6 of 9);
    padding: 0 10px;

    @include media($smaller-mini-tablet) {
      @include span-columns(12);
      padding: 10px 0;
    }
  }
}
