.pagination {
  margin-top: 1.5rem;
  text-align: center;

  &__entries {
    font-size: rem(12);
    color: $pagination-entries-color;
    padding: rem(12) 0;
  }

  &__current-entries {
    font-weight: bold;
  }

  &__item {
    display: inline-block;
    margin: 0 rem(5);
  }

  &__link {
    display: inline-block;
    padding: 10px 20px;
    border-radius: $global-radius;
    background-color: $pagination-bg-color;
    font-size: $default-font-size - 2;

    &#{&}--first {
      @include prepend-fa-icon($fa-var-angle-double-left, $color: $pagination-icon-color);
    }

    &#{&}--prev {
      @include prepend-fa-icon($fa-var-caret-left, $color: $pagination-icon-color);
    }

    &#{&}--next {
      @include append-fa-icon($fa-var-caret-right, $color: $pagination-icon-color);
    }

    &#{&}--last {
      @include append-fa-icon($fa-var-angle-double-right, $color: $pagination-icon-color);
    }
  }
  a:link, a:visited, a:active {
    color: rgba($pagination-link-color, 1);
  }
  a:hover {
    color: rgba($pagination-link-color, 1);
    background-color: rgba($pagination-bg-color, 0.8);
  }
}
