.pagination {
  $item-padding: 7px 12px;
  $small-item-padding: 5px 10px;

  margin-top: 1.5rem;
  text-align: center;

  &__entries {
    font-size: rem(12);
    color: $pagination-entries-color;
    padding: rem(12) 0;
  }

  &__current-entries {
    font-weight: bold;
  }

  &__item {
    display: inline-block;
    font-size: $default-font-size - 2;

    @include middle-screen {
      margin: 0 rem(2);
    }

    &--current {
      background-color: rgba($pagination-link-color, 1);
      color: $pagination-bg-color;
      padding: $small-item-padding;
      border-radius: $global-radius;

      @include middle-screen {
        padding: $item-padding;
      }
    }
  }

  &__link {
    display: inline-block;
    padding: $small-item-padding;
    border-radius: $global-radius;
    background-color: $pagination-bg-color;

    @include middle-screen {
      padding: $item-padding;
    }

    &#{&}--first {
      @include prepend-fa-icon($fa-var-angle-double-left, $color: $pagination-icon-color);
    }

    &#{&}--prev {
      @include prepend-fa-icon($fa-var-caret-left, $color: $pagination-icon-color);
    }

    &#{&}--next {
      @include append-fa-icon($fa-var-caret-right, $color: $pagination-icon-color);
    }

    &#{&}--last {
      @include append-fa-icon($fa-var-angle-double-right, $color: $pagination-icon-color);
    }

    &#{&}--first, &#{&}--last {
      padding: 5px 3px;
    }

    @include middle-screen {
      &#{&}--first, &#{&}--prev, &#{&}--next, &#{&}--last {
        padding: $item-padding;
      }
    }

    &#{&}--prev, &#{&}--next {
      display: none;
    }

    @include large-screen {
      &#{&}--prev, &#{&}--next {
        display: inline-block;
      }
    }
  }
  a:link, a:visited, a:active {
    color: rgba($pagination-link-color, 1);
  }
  a:hover {
    color: rgba($pagination-link-color, 1);
    background-color: rgba($pagination-bg-color, 0.8);
  }

  &__text {
    display: none;

    @include middle-screen {
      display: inline-block;
    }
  }

  .gap {
    display: none;

    @include small-screen {
      display: inline-block;
    }
  }
}
