.post {
  background: white;
  margin-bottom: 20px;
  border-top: 7px solid $base-color;

  &__title {
    margin: 0.5em 0;
    font-size: $default-font-size + 14;
    color: $base-color;

    @include media($smaller-tablet) {
      font-size: $default-font-size + 8;
    }

    @include media($smaller-mini-tablet) {
      font-size: $default-font-size + 4;
    }
  }

  &__header {
    margin: 0;
    color: $base-color;
    @include outer-container;

    .title-and-data {
      @include span-columns(6 of 9);
      padding-left: 20px;
    }

    .thumbnail {
      @include span-columns(3 of 9);
      padding: 20px 20px 0 0;
    }

    @include media($smaller-tablet) {
      .title-and-data,

      .thumbnail {
        @include span-columns(9 of 9);
        padding: 0 20px;
      }

      .thumbnail {
        margin-top: 10px;
      }
    }
  }

  &__body {
    padding: 20px;

    @include media($mobile) {
      padding: 10px;
    }

    @include markdown-body;
  }

  &__data {
    margin: 0;
    padding: 0 20px;
  }

  &__data-item--published-at {
    font-family: 'Oswald', sans-serif;
    display: block;
    text-align: right;
    font-size: $default-font-size - 2;
    color: rgba($main-color, 0.5);
  }

  &__serial {
    &--title {
      font-size: $default-font-size - 2;
      margin: 20px 0 0 0;

      a:link, a:visited, a:active {
        color: $base-color;
      }

      a:hover {
        color: rgba($base-color, 0.8);
      }
    }

    &--index {
      a {
        padding: 5px;
        display: block;
        width: 14em;
        text-align: center;
        color: white;
        border-radius: $button-border-radius;

        &:link, &:visited, &:active {
          background: $base-color;
        }

        &:hover {
          background: rgba($base-color, 0.9);
        }
        margin: 20px auto;
      }
    }
  }

  .related-category {
    .breadcrumbs {
      margin-top: 5px;
    }

    &__caption {
      border-bottom: 1px solid rgba($main-color, 0.2);
    }

    &__item {
      list-style-type: none;
    }
  }
}

.fixed-page {
  .post {
    &__title {
      padding: 0 20px;
    }
  }
}
