.post {
  background: white;
  margin-bottom: 20px;
  border-top: 7px solid $base-color;

  &__title {
    margin: 0.5em 0;
    font-size: $default-font-size + 14;
    color: $base-color;

    @include media($smaller-tablet) {
      font-size: $default-font-size + 8;
    }

    @include media($smaller-mini-tablet) {
      font-size: $default-font-size + 4;
    }
  }

  &__header {
    margin: 0;
    color: $base-color;
    @include outer-container;

    .title-and-data {
      @include span-columns(6 of 9);
      padding-left: 20px;
    }

    .thumbnail {
      @include span-columns(3 of 9);
      padding: 20px 20px 0 0;
    }

    @include media($smaller-tablet) {
      .title-and-data,

      .thumbnail {
        @include span-columns(9 of 9);
        padding: 0 20px;
      }

      .thumbnail {
        margin-top: 10px;
      }
    }
  }

  &__body {
    padding: 20px;

    img {
      display: block;
      max-width: 50%;
      height: auto;
      margin: 20px auto 0;
      @include media($smaller-tablet) { max-width: 100%; }
    }

    a {
      border-bottom: 1px dotted rgba($main-color, 0.7);
    }

    h1, h2, h3 {
      color: $base-color;
      font-weight: bold;
      margin: 30px 0;
    }

    h1 {
      font-size: $default-font-size + 6;
      border-left: 7px solid rgba($base-color, 0.5);
      padding: 15px;
    }

    h2 {
      font-size: $default-font-size + 4;
      border-bottom: 3px solid rgba($base-color, 0.15);
    }

    h3 {
      font-size: $default-font-size + 2;
    }

    table {
      width: 80%;
      margin: 20px auto;
      font-size: $default-font-size - 2;

      @include media($smaller-tablet) {
        width: 100%;
      }
      tr {
        border: 1px solid rgba($main-color, 0.5) collapse;
      }

      tr:nth-child(odd) {
        background-color: rgba($main-color, 0.05);
      }

      tr:nth-child(even) {
        background-color: rgba($main-color, 0.1);
      }

      td, th {
        border: 1px solid rgba($main-color, 0.5) ;
        padding: 10px;
      }

      th {
        background-color: rgba($main-color, 0.2);
        font-weight: bold;
      }
    }

    blockquote {
      padding: rem(20);
    }

    ul {
      list-style-type: disc;
    }

    ol, ul {
      margin: 1em 0;
      padding-left: 2em;
    }

    hr {
      display:block;
      height:1px;
      border:0;
      border-top:1px solid rgba($main-color, 0.5);
      margin:1em 0;
      padding:0;
    }
  }

  &__data {
    margin: 0;
    padding: 0 20px;
  }

  &__data-item--published-at {
    font-family: 'Oswald', sans-serif;
    display: block;
    text-align: right;
    font-size: $default-font-size - 2;
    color: rgba($main-color, 0.5);
  }
}

.fixed-page {
  .post {
    &__title {
      padding: 0 20px;
    }
  }
}
