.promotions {
  @include media($larger-tablet) {
    @include span-columns(3);
  }

  @include media($smaller-tablet) {
    @include span-columns(4);
  }

  @include media($smaller-mini-tablet) {
    @include span-columns(12);
  }

  ul {
    margin-bottom: 40px;
  }

  form[action='/search'] { // FIXME 検索フォームを移動したら削除してください。
    margin-top: 20px;
  }
}

.welcome {
  .recent-posts {
    display: none;
  }
}

.to-serials {
  a {
    padding: 5px;
    display: block;
    width: 13em;
    text-align: center;
    color: $base-color;
    border-radius: $button-border-radius;
    margin: 20px auto 40px;

    &:link, &:visited, &:active {
      background: rgba($base-color, 0.2);
    }

    &:hover {
      background: rgba($base-color, 0.1);
    }
  }
}
