.serial-header {
  @extend .subheading;
  margin: 0 0 20px;
}

.serial-content {
  background: white;
  padding: 20px;
}

@include media($larger-tablet) {
  .serial-content {
    @include span-columns(9 of 9);
    @include omega;

    &__thumbnail {
      @include span-columns(1 of 9);
    }

    &__body {
      @include span-columns(8 of 9);
    }
  }
}

@include media($smaller-tablet) {
  .serial-content {
    @include span-columns(8 of 8);

    &__thumbnail {
      @include span-columns(2 of 8);
    }

    &__body {
      @include span-columns(6 of 8);
    }
  }
}

@include media($smaller-mini-tablet) {
  .serial-content {
    @include span-columns(12);
    @include omega;

    &__thumbnail {
      @include span-columns(3);
    }

    &__body {
      @include span-columns(9);
    }
  }
}

.serial-titles {
  @include span-columns(12);
  @include omega;

  border-top: 2px solid rgba($base-color, 0.2);
  margin-top: 20px;
  padding-top: 10px;
  position: relative;

  li {
    margin-bottom: 10px;
    margin-left: 1.5em;

    &:before {
      content: ' ';
      border: transparent solid 0.3em;
      border-left-color: $base-color;
      position: absolute;
      height: 0;
      width: 0;
      left: 0.5em;
      margin: 0px;
      margin-top: 0.4em;
      padding: 0px;
    }
  }
}
