.sidebar {
  @include position(fixed, 0 nil 0 nil);

  @include transition-property(transform);

  @include flex(0 0 15rem);

  @include modal($duration: 0.2s, $z-index: 5) {
    @include transform(translateX(0));
  }

  @include media($larger-tablet) {
    @include flex(0 0 10rem);
  }

  &--left {
    @include transform(translateX(-100%));
    left: 0;
    z-index: 40;

    @include media($larger-tablet) {
      background: rgba(white, 0.5);
      @include transform(translateX(0));

      position: static;
      z-index: auto;
    }

    @include media($smaller-tablet) {
      background: white;
    }
  }
}
